<div class="container">
  <h1>Contacts</h1>
  <%= link_to 'Nouveau contact', new_contact_path, class: 'btn-green' %>

  <br>
  <br>

   <%= form_tag "contacts/set_limit" do %>
    <%= select_tag "limit", options_for_select([ 10, 30, 50 ],  params[:limit])%>
    <%= submit_tag "Modifier" %>
  <% end %>
  <br>
  <br>
  <br>
  <% @contacts.order(:first_name).each do |contact| %>
    <div>
      <!-- <h1><%#= @contacts.order(:first_name).index(contact) + 1 %></h1> -->
      <p> <%= contact.first_name %> <%= contact.last_name %></p>
      <% contact.taggings.each do |tagging|%>
        <%= tagging.tag.name %>
      <% end  %>
      <%= simple_form_for [contact, Tagging.new] do |f| %>
        <%= f.input :tag %>
        <%= f.submit 'Ajouter' %>
      <% end  %>
      <%= link_to 'Voir', contact_path(contact) %>
      <%= link_to 'Modifier', edit_contact_path(contact) %>
      <%= link_to 'Supprimer', contact_path(contact), method: :delete %>
    </div>
    <br>
    <br>
  <% end  %>
  <br>
  <div>
    <% for i in 1 .. @number_of_pages %>
      <%= link_to "#{i}", contacts_path(page: i)  %>
    <% end %>
  </div>
  <br>
  <br>
</div>
